<h1>Editing Model</h1>

<%= render 'form' %>

<div>
  <%= button_to "Show Model", @model, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Models", models_path, :class => "button", :method => :get  %>
</div>