<!DOCTYPE html>
<html>
<head>
  <title>C C A T S</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link href="bootstrap/bootstrap.css" rel="stylesheet">
  <link href="bootstrap/jquery.datetimepicker.css" rel="stylesheet">


  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/vehicles">Raccoon Performance</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a href="/customers">Customers</a></li>
          <li><a href="/vehicles">Vehicles</a></li>
          <li><a href="/jobs">Jobs</a></li>
          <li><a href="/line_items">Line Items</a></li>
          <li><a href="/appointments">Appointments</a> </li>
          <li><a href="/invoices">Invoices</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/surplus_products">Surplus Product</a></li>
          <!--<%=image_tag("sponsor.logo.jpg", alt: "Sponsor Logo", size: "150x100", class: "img-rounded")%>-->
        </ul>
      </div>
    </div>
  </nav>
</head>
<body>

<%= yield %>

</body>
</html>
