<h1>Editing Color</h1>

<%= render 'form' %>

<%= link_to 'Show', @color %> |
<%= link_to 'Back', colors_path %>

<div>
  <%= button_to "Show Exterior Color", @color, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Exterior Color", colors_path, :class => "button", :method => :get  %>
</div>