<p id="notice"><%= notice %></p>

<h1>Exterior Colors</h1>
<div>
  <%= button_to "Create New Exterior Color", new_color_path, :class => "button", :method => :get  %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td class="btn btn-success"><%= link_to 'Show', color %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_color_path(color) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Exterior Color", new_color_path, :class => "button", :method => :get  %>
</div>
