<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @color.name %>
</p>


<div>
  <%= button_to "Edit Exterior Color", edit_color_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Exterior Color", colors_path, :class => "button", :method => :get  %>
</div>