<h1>Editing Job</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Job", @job, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Jobs", jobs_path, :class => "button", :method => :get  %>
</div>