<p id="notice"><%= notice %></p>

<h1>Jobs</h1>
<div>
  <%= button_to "Create New Job", new_job_path, :class => "button", :method => :get  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Vehicle</th>
      <th>Employee</th>
      <th>Invoice</th>
      <th>Amount</th>
      <th>Job Status</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.vehicle.show_veh_info %></td>
        <td><%= job.employee.show_full_name %></td>
        <td><%= job.invoice_id %></td>
        <td><%= number_to_currency(job.amount) %></td>
        <td><%= job.show_complete %></td>
        <td><%= job.comments %></td>
        <td class="btn btn-success"><%= link_to 'Show', job %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_job_path(job) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Job", new_job_path, :class => "button", :method => :get  %>
</div>
