<h1>Editing Line Item</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Line Items", @ine_item, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Line Items", line_items_path, :class => "button", :method => :get  %>
</div>