<p id="notice"><%= notice %></p>

<h1>Line Items</h1>
<div>
<%= button_to "Create New Line Item", new_line_item_path, :class => "button", :method => :get  %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Technician</th>
      <th>Service</th>
      <th>Labor hrs</th>
      <th>Charge</th>
      <th>Line Item Complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.job_id %></td>
        <td><%= line_item.employee.show_full_name %></td>
        <td><%= line_item.service_id %></td>
        <td><%= line_item.labor_hrs %></td>
        <td><%= number_to_currency(line_item.charge) %></td>
        <td><%= line_item.show_complete %></td>
        <td class="btn btn-success"><%= link_to 'Show', line_item %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_line_item_path(line_item) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Line Item", new_line_item_path, :class => "button", :method => :get  %>
</div>
