<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @line_item.job_id %>
</p>

<p>
  <strong>Technician:</strong>
  <%= @line_item.employee.show_full_name %>
</p>

<p>
  <strong>Service:</strong>
  <%= @line_item.service.desc %>
</p>

<p>
  <strong>Labor hours:</strong>
  <%= @line_item.labor_hrs %>
</p>

<p>
  <strong>Charge:</strong>
  <%= number_to_currency(@line_item.charge) %>
</p>

<p>
  <strong>Line Item Complete:</strong>
  <%= @line_item.show_complete %>
</p>

<div>
  <%= button_to "Edit Line Items", edit_line_item_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Line Items", line_items_path, :class => "button", :method => :get  %>
</div>
