<h1>Editing Employee</h1>

<%= render 'form' %>

<div>
  <%= button_to "Show Employee", @employee, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Employess", employees_path, :class => "button", :method => :get  %>
</div>