<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @employee.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @employee.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@employee.phone, area_code: true) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @employee.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @employee.zip %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @employee.start_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.show_active %>
</p>

<p>
  <strong>Pay Rate:</strong>
  <%= @employee.pay_rate %>
</p>



<div>
  <%= button_to "Edit Employee", edit_employee_path(@employee), :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Employees", employees_path, :class => "button", :method => :get  %>
</div>