<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @engine.code %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Back', engines_path %>

<div>
  <%= button_to "Edit Engine", edit_engine_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Engine", engines_path, :class => "button", :method => :get  %>
</div>