<h1>Editing Customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>

<div>
  <%= button_to "Show Customer", @customer, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Customers", customers_path, :class => "button", :method => :get  %>
</div>