<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<div>
<%= button_to "Create New Customer", new_customer_path, :class => "button", :method => :get  %>
<%= button_to "Edit Customer", edit_customer_path(1), :class => "button", :method => :get  %>
<%= button_to "Delete Customer", new_customer_path, :class => "button", method: :delete, data: { confirm: 'Are you sure?' }  %>
</div>

<br>

<br>
<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname %></td>
        <td><%= customer.lname %></td>
        <td><%= number_to_phone(customer.phone, area_code: true) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.street %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.zip %></td>

      </tr>

    <% end %>

  </tbody>

</table>

<div>
  <%= button_to "Create New Customer", new_customer_path, :class => "button", :method => :get  %>
</div>
