<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Last Namee:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@customer.phone, area_code: true) %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Street:</strong>
  <%= @customer.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<div>
  <%= button_to "Edit Customer", edit_customer_path(@customer), :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Customers", customers_path, :class => "button", :method => :get  %>
</div>