<h1>Editing Transmission</h1>

<%= render 'form' %>


<div>
  <%= button_to "ShowTransmission ", @transmission, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Transmissions", transmissions_path, :class => "button", :method => :get  %>
</div>
