<p id="notice"><%= notice %></p>

<p>
  <strong>Style:</strong>
  <%= @transmission.style %>
</p>


<div>
  <%= button_to "Edit Transmission ", edit_transmission_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Transmissions", transmissions_path, :class => "button", :method => :get  %>
</div>