<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :show_full_name, prompt: true %>
  </div>

    <div class="field">
      <%= f.label :year_id %><br>
      <%= f.collection_select :year_id, Year.all, :id, :mod_year, prompt: true %>
    </div>

    <div class="field">
    <%= f.label :make_id %><br>
    <%= f.collection_select :make_id, Make.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :model_id %><br>
    <%= f.collection_select :model_id, Model.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :color_id,"Exterior Color" %><br>
    <%= f.collection_select :color_id, Color.all, :id, :name, prompt: true %>
  </div>

    <div class="field">
      <%= f.label :chassis_id %><br>
      <%= f.collection_select :chassis_id, Chassis.all, :id, :code, prompt: true %>
    </div>

  <div class="field">
    <%= f.label :engine_id %><br>
    <%= f.collection_select :engine_id, Engine.all, :id, :code, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :transmission_id %><br>
    <%= f.collection_select :transmission_id, Transmission.all, :id, :style, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
