<h1>Editing Vehicle</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Vehicle", @vehicle, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Vehicles", vehicles_path, :class => "button", :method => :get  %>
</div>