<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>
<div>
<%= button_to "Create New Vehicle", new_vehicle_path, :class => "button", :method => :get  %>
</div>

<table class="table table-striped table-hover DataTables">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Exterior Color</th>
      <th>Chassis</th>
      <th>Engine</th>
      <th>Transmission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.customer.show_full_name %></td>
        <td><%= vehicle.year.mod_year %></td>
        <td><%= vehicle.make.name %></td>
        <td><%= vehicle.model.name %></td>
        <td><%= vehicle.color.name %></td>
        <td><%= vehicle.chassis.code %></td>
        <td><%= vehicle.engine.code %></td>
        <td><%= vehicle.transmission.style %></td>
        <td class="btn btn-success"><%= link_to 'Show', vehicle %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Vehicle", new_vehicle_path, :class => "button", :method => :get  %>
</div>
