<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer.show_full_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year.mod_year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model.name %>
</p>

<p>
  <strong>Exterior Color:</strong>
  <%= @vehicle.color.name %>
</p>

<p>
  <strong>Chassis:</strong>
  <%= @vehicle.chassis.code %>
</p>


<p>
  <strong>Engine:</strong>
  <%= @vehicle.engine.code %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @vehicle.transmission.style %>
</p>


<div>
  <%= button_to "Edit Vehicle", edit_vehicle_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Vehicles", vehicles_path, :class => "button", :method => :get  %>
</div>