<%= form_for(@emp_job) do |f| %>
  <% if @emp_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emp_job.errors.count, "error") %> prohibited this emp_job from being saved:</h2>

      <ul>
      <% @emp_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.number_field :job_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
