<p id="notice"><%= notice %></p>

<h1>Listing Emp Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emp_jobs.each do |emp_job| %>
      <tr>
        <td><%= emp_job.employee_id %></td>
        <td><%= emp_job.job_id %></td>
        <td><%= link_to 'Show', emp_job %></td>
        <td><%= link_to 'Edit', edit_emp_job_path(emp_job) %></td>
        <td><%= link_to 'Destroy', emp_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emp job', new_emp_job_path %>
