<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @emp_job.employee_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @emp_job.job_id %>
</p>

<%= link_to 'Edit', edit_emp_job_path(@emp_job) %> |
<%= link_to 'Back', emp_jobs_path %>
