<h1>Editing Appointment</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Appointment", @appointment, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Appointments", appointments_path, :class => "button", :method => :get  %>
</div>