<p id="notice"><%= notice %></p>

<h1>Appointments</h1>
<div>
  <%= button_to "Create New Appointment", new_appointment_path, :class => "button", :method => :get  %>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Date</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.job_id %></td>
        <td><%= appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
        <td><%= appointment.comments %></td>
        <td class="btn btn-success"><%= link_to 'Show', appointment %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Appointment", new_appointment_path, :class => "button", :method => :get  %>
</div>
