<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @appointment.job_id %>
</p>

<p>
  <strong>Date:</strong>
<td><%= @appointment.date.strftime("%A, %B %d %I:%M%P %G") %></td>
</p>

<p>
  <strong>Comments:</strong>
  <%= @appointment.comments %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>


<div>
  <%= button_to "Edit Appointmnet", edit_appointment_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Appointments", appointments_path, :class => "button", :method => :get  %>
</div>