<%= form_for(@invoice) do |f| %>


    <script>

      function add_adjust() {

          var subtotal = parseFloat(document.getElementById("invoice_subtotal").value);

          var adjust = parseFloat(document.getElementById("invoice_adjustment").value);

          var newTax = (subtotal + adjust) * .0625;

          document.getElementById("invoice_tax").value = newTax;

          var newTotal = subtotal + adjust +newTax;

          document.getElementById("invoice_total").value = newTotal;

      }

    </script>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :show_full_name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :subtotal %><br>
    <%= f.text_field :subtotal %>
  </div>
  <div class="field">
    <%= f.label :adjustment %><br>
    <%= f.text_field(:adjustment, {:onchange => "add_adjust(this.value)"})%>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
