<h1>Editing Invoice</h1>

<%= render 'form' %>

<div>
  <%= button_to "Show Invoice", @invoice, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Invoices", invoices_path, :class => "button", :method => :get  %>
</div>
