<p id="notice"><%= notice %></p>

<h1>Invoices</h1>
<div>
  <%= button_to "Create New Invoice", new_invoice_path, :class => "button", :method => :get  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Invoice</th>
      <th>Customer</th>
      <th>Date</th>
      <th>Subtotal</th>
      <th>Adjustment</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Payment Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.customer.show_full_name %></td>
        <td><%= invoice.date %></td>
        <td><%= number_to_currency(invoice.subtotal) %></td>
        <td><%= number_to_currency(invoice.adjustment) %></td>
        <td><%= number_to_currency(invoice.tax) %></td>
        <td><%= number_to_currency(invoice.total) %></td>
        <td><%= invoice.show_paid %></td>
        <td class="btn btn-success"><%= link_to 'Show', invoice %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Invoice", new_invoice_path, :class => "button", :method => :get  %>
</div>
