<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer.show_full_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency(@invoice.subtotal) %>
</p>

<p>
  <strong>Adjustment:</strong>
  <%= number_to_currency(@invoice.adjustment) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@invoice.tax) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@invoice.total) %>
</p>

<p>
  <strong>Payment Status:</strong>
  <%= @invoice.show_paid %>
</p>

<div>
  <%= button_to "Edit Invoice", edit_invoice_path(@invoice), :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Invoices", invoices_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
<button type="button" class="btn btn-default"><%= link_to "Create Invoice", invoice_path(@invoice, :format => 'pdf') %></button>
</div>
