<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @make.name %>
</p>


<div>
  <%= button_to "Edit Make", edit_make_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Makes", makes_path, :class => "button", :method => :get  %>
</div>