<%= form_for(@surplus_product, :html => { :multipart => true })  do |f| %>
  <% if @surplus_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@surplus_product.errors.count, "error") %> prohibited this surplus_product from being saved:</h2>

      <ul>
      <% @surplus_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br>
    <%= f.collection_select  :job_id, Job.all, :id, :id%>
  </div>
  <div class="field">
    <%= f.label :part_description %><br>
    <%= f.text_area :part_description %>
  </div>

    <div class="field">
      <%= f.label :photo, "Input Part Image" %><br>
      <%= f.file_field :photo %>
    </div>

    <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
