<h1>Editing Surplus Product</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Surplus Product", @surplus_product, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Surplus Product", surplus_products_path, :class => "button", :method => :get  %>
</div>