<p id="notice"><%= notice %></p>

<h1>Surplus Products</h1>
<div>
  <%= button_to "Create New Surplus Product", new_surplus_product_path, :class => "button", :method => :get  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job</th>
      <th>Part description</th>
      <th>Part Image</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surplus_products.each do |surplus_product| %>
      <tr>
        <td><%= surplus_product.job_id %></td>
        <td><%= surplus_product.part_description %></td>
        <td><%= image_tag(surplus_product.photo,class: 'list.image', :size => "100x75")%></td>
        <td><%= number_to_currency(surplus_product.price) %></td>
        <td class="btn btn-success"><%= link_to 'Show', surplus_product %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_surplus_product_path(surplus_product) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', surplus_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Surplus Product", new_surplus_product_path, :class => "button", :method => :get  %>
</div>
