<p id="notice"><%= notice %></p>

<p>
  <strong>Job:</strong>
  <%= @surplus_product.job_id %>
</p>

<p>
  <strong>Part description:</strong>
  <%= @surplus_product.part_description %>
</p>

<p>
  <strong>Part Image:</strong>
  <%= image_tag(@surplus_product.photo, class: 'list.image', :size => "100x75")  %>
</p>


<p>
  <strong>Price:</strong>
  <%= number_to_currency(@surplus_product.price) %>
</p>


<div>
  <%= button_to "Edit Surplus Product", edit_surplus_product_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Surplus Products", surplus_products_path, :class => "button", :method => :get  %>
</div>