<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @chass.code %>
</p>

<div>
  <%= button_to "Edit Chassis Code", edit_chass_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Chassis", chasses_path, :class => "button", :method => :get  %>
</div>