<h1>Editing Service</h1>

<%= render 'form' %>


<div>
  <%= button_to "Show Service", @service, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Services", services_path, :class => "button", :method => :get  %>
</div>