<p id="notice"><%= notice %></p>

<h1>Services</h1>
<div>
  <%= button_to "Create New Service", new_service_path, :class => "button", :method => :get  %>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Description</th>
      <th>Price</th>
      <th>Flag hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.desc %></td>
        <td><%= number_to_currency(service.price) %></td>
        <td><%= service.flag_hrs %></td>
        <td class="btn btn-success"><%= link_to 'Show', service %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_service_path(service) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= button_to "Create New Service", new_service_path, :class => "button", :method => :get  %>
</div>
