<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@service.price) %>
</p>

<p>
  <strong>Flag hours:</strong>
  <%= @service.flag_hrs %>
</p>

<div>
  <%= button_to "Edit Service", edit_service_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Services", services_path, :class => "button", :method => :get  %>
</div>
