<h1>Editing Year</h1>

<%= render 'form' %>

<div>
  <%= button_to "Show Year", @year, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Years", years_path, :class => "button", :method => :get  %>
</div>