<p id="notice"><%= notice %></p>

<p>
  <strong>Mod year:</strong>
  <%= @year.mod_year %>
</p>


<div>
  <%= button_to "Edit Year", edit_year_path, :class => "button", :method => :get  %>
</div>
<br>
<div>
  <%= button_to "Back to Years", years_path, :class => "button", :method => :get  %>
</div>